version: '3.9'

services:
  db:
    image: postgres:15
    container_name: calendar_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - calendar_db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 5s

  app:
    build: .
    container_name: calendar_bot
    env_file: .env
    volumes:
      - ./app/tokens:/app/tokens:rw
    depends_on:
      db:
        condition: service_healthy
    restart: always

volumes:
  calendar_db_data:
